.header{
  position: absolute;
  z-index: 30;
  left: 0;
  top: 0;
  color: #FFFFFF;
  width: 100%;
  padding: 28px 0 0;
  transition: color 1s ease 0s;
  &--inner{
    padding: 40px 0;
    position: static;
    color: $black;
    .header__inner{
      justify-content: unset;
      align-items: center;
    }
    .header__lang{
      margin-left: 225px;
    }
    .header__logo{
      margin: 0;
      path{
        fill: $secondary;
      }
    }
  }
  &--dark{
    color: $black;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__back{
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(-45px,-50%);
  }
  &__logo{
    display: block;
    width: 175px;
    margin-top: 2px;
    svg{
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__lang{
    display: flex;
    &-item{
      opacity: 0.3;
      color: inherit;
      margin-left: 30px;
      display: inline-flex;
      &--active{
        opacity: 1;
        pointer-events: none;
      }
      &:hover{
        opacity: .7;
      }
    }
  }
}

.nav__link,
.header__lang-item{
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.5px;
}

.nav{
  display: flex;
  &__link{
    margin: 0 10px;
  }
}

@media screen and (max-width: 1750px){
  .header{
    &__back{
      transform: unset;
      position: static;
      margin-right: 30px;
    }
  }
}

@media screen and (max-width: 992px){
  .header{
    padding: 16px 0;
    &__lang{
      display: none;
    }
  }
  .nav{
    display: none;
  }
}
