<div class="footer__inner screen__content container">
    <div class="footer__top">
        <a href="" class="footer__logo">
            <img src="img/logo2.svg" alt="">
        </a>

        <div class="footer__contacts">
            <div class="footer__title">Contacts</div>
            <div class="footer__contacts-grid">
                <div class="footer__contacts-group footer__contacts-full">
                    <div class="footer__contacts-title">Address:</div>
                    <div class="footer__contacts-desc">Kavaklidere Mah. Esat Caddesi No:12 lç Kapi No:1 Çankaya-Ankara</div>
                </div>
                <div class="footer__contacts-group">
                    <div class="footer__contacts-title">Phone:</div>
                    <div class="footer__contacts-desc">
                        <a href="tel:05495907910" class="">0549 590 79 10</a>
                    </div>
                </div>
                <div class="footer__contacts-group">
                    <div class="footer__contacts-title">E-mail:</div>
                    <div class="footer__contacts-desc">
                        <a href="mailto:info@ankaratrend.com" class="blue-text"> info@ankaratrend.com</a>
                    </div>
                </div>
            </div>
        </div>

        <form class="footer__form">
            <div class="footer__title">Subscribe to our Newsletter</div>
            <div class="footer__form-field">
                <fieldset class="form-group">
                    <input type="email" placeholder="Type your e-mail">
                </fieldset>
                <button class="footer__form-btn">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 11.0001V13.0001H16L10.5 18.5001L11.92 19.9201L19.84 12.0001L11.92 4.08008L10.5 5.50008L16 11.0001H4Z" fill="black"/>
                    </svg>
                </button>
            </div>
            <div class="footer__form-desc">Fell free get in touch with us via phone
                or send us a message</div>
        </form>
    </div>
    <div class="footer__bottom">
        <div class="footer__copy">Copyright © 2022</div>
        <div class="footer__links">
            <a href="" class="footer__link">Home</a>
            <a href="" class="footer__link">History</a>
            <a href="" class="footer__link">About Us</a>
            <a href="" class="footer__link">Why Us</a>
        </div>
        <div class="footer__socials">
            <a href="" class="footer__socials-item">Twitter</a>
            <a href="" class="footer__socials-item">Instagram</a>
            <a href="" class="footer__socials-item">Facebook</a>
        </div>
    </div>
</div>
