$font1:'Arial',sans-serif;
$font2:'Neue Haas Grotesk Display Pro',sans-serif;
$black: #000;
$primary: #D9BF36;
$primaryHover: #FBD824;
$primaryActive: #CDAC00;
$secondary: #021951;
$secondaryHover: #1C3B85;
$secondaryActive: #022781;
$gray: #CBCBCB;
